In [21]:
import numpy as np
x=np.array([[1,2,3,2,555],[1,1,1,1,1,556]])
np.amax(x,axis=0)

D:\anaconda\lib\site-packages\ipykernel_launcher.py:2: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

[1, 2, 3, 2, 555]

In [71]:
import pandas as pd
df=pd.read_csv('data.csv')
#df_new=df.dropna(how=all)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2216 entries, 0 to 2215
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2216 non-null   int64
 1   Year_Birth           2216 non-null   int64
 2   Education            2216 non-null   object
 3   Marital_Status       2216 non-null   object
 4   Income               2216 non-null   int64
 5   Kidhome              2216 non-null   int64
 6   Teenhome             2216 non-null   int64
 7   Dt_Customer          2216 non-null   object
 8   Recency              2216 non-null   int64
 9   MntWines             2216 non-null   int64
 10  MntFruits            2216 non-null   int64
 11  MntMeatProducts      2216 non-null   int64
 12  MntFishProducts      2216 non-null   int64
 13  MntSweetProducts     2216 non-null   int64
 14  MntGoldProds         2216 non-null   int64
 15  NumDealsPurchases    2216 non-null   int64
 16  NumWebPurchases      2216 non-null   int64
 17  NumCatalogPurchases  2216 non-null   int64
 18  NumStorePurchases    2216 non-null   int64
 19  NumWebVisitsMonth    2216 non-null   int64
 20  AcceptedCmp3         2216 non-null   int64
 21  AcceptedCmp4         2216 non-null   int64
 22  AcceptedCmp5         2216 non-null   int64
 23  AcceptedCmp1         2216 non-null   int64
 24  AcceptedCmp2         2216 non-null   int64
 25  Complain             2216 non-null   int64
 26  Z_CostContact        2216 non-null   int64
 27  Z_Revenue            2216 non-null   int64
 28  Response             2216 non-null   int64
dtypes: int64(26), object(3)
memory usage: 502.2+ KB

In [70]:
df["Income"]

df.to_excel("新的文件.xlsx")

0       58138
1       46344
2       71613
3       26646
4       58293
        ...
2211    61223
2212    64014
2213    56981
2214    69245
2215    52869
Name: Income, Length: 2216, dtype: int64

In [44]:
a=100

c=a/11
print(c)
int(c)

9.090909090909092

9

In [52]:
l=["a","b","c","3"]

In [54]:
l[:]     #------从l[0]  l[2]

['a', 'b', 'c', '3']

In [55]:
l[0:4]

['a', 'b', 'c', '3']

In [64]:
import numpy as np
x=np.array([[1,2,3,2,555],[1,1,1,1,1,556]])
np.amax(x[0])

D:\anaconda\lib\site-packages\ipykernel_launcher.py:2: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

555