In [21]:
import numpy as np
x=np.array([[1,2,3,2,555],[1,1,1,1,1,556]])
np.amax(x,axis=0)

D:\anaconda\lib\site-packages\ipykernel_launcher.py:2: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

[1, 2, 3, 2, 555]

In [69]:
import pandas as pd
df=pd.read_csv('data.csv')
df.dropna(how=all).head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2211,10870,1967,Graduation,Married,61223,0,1,13-06-2013,46,709,...,5,0,0,0,0,0,0,3,11,0
2212,4001,1946,PhD,Together,64014,2,1,10-06-2014,56,406,...,7,0,0,0,1,0,0,3,11,0
2213,7270,1981,Graduation,Divorced,56981,0,0,25-01-2014,91,908,...,6,0,1,0,0,0,0,3,11,0
2214,8235,1956,Master,Together,69245,0,1,24-01-2014,8,428,...,3,0,0,0,0,0,0,3,11,0
2215,9405,1954,PhD,Married,52869,1,1,15-10-2012,40,84,...,7,0,0,0,0,0,0,3,11,1

In [70]:
df["Income"]

df.to_excel("新的文件.xlsx")

0       58138
1       46344
2       71613
3       26646
4       58293
        ...
2211    61223
2212    64014
2213    56981
2214    69245
2215    52869
Name: Income, Length: 2216, dtype: int64

In [44]:
a=100

c=a/11
print(c)
int(c)

9.090909090909092

9

In [52]:
l=["a","b","c","3"]

In [54]:
l[:]     #------从l[0]  l[2]

['a', 'b', 'c', '3']

In [55]:
l[0:4]

['a', 'b', 'c', '3']

In [64]:
import numpy as np
x=np.array([[1,2,3,2,555],[1,1,1,1,1,556]])
np.amax(x[0])

D:\anaconda\lib\site-packages\ipykernel_launcher.py:2: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

555